<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="activated" [routerLinkActiveOptions]={exact:true}>
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
      <a routerLink="asc" routerLinkActive="activated" [routerLinkActiveOptions]={exact:true}>
        <i class="material-icons">arrow_upward</i>
      </a>
    </li>
    <li>
      <a routerLink="desc" routerLinkActive="activated" [routerLinkActiveOptions]={exact:true}>
        <i class="material-icons">arrow_downward</i>
      </a>
    </li>
    <li>
      <a routerLink="">
        <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
      </a>
    </li>

  </ul>
</nav>
